
.body {
  height: 100vh;
  width: 100vw; 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 5s ease-in-out; 
}
.button {
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 10px 50px;
  font-family: Roboto;
  color: #000000;
  background-color: #ffd600;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap; 
}
